a {
  color: #007bff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #0056b3;
  }
  &:disabled {
    background-color: grey;
  }
}

.growing-button {
  transition-property: transform;
  transform: scale(1.2);
}

.full-width {
  width: 100%;
}