body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

#root {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

label, .error-message {
  display: block;
}

.error-message {
  color: red;
}

.page {
  .item {
    margin-bottom: 16px;
    width: 100%;
    label, input {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 8px;
    }
    label {
      font-weight: 700;
    }
    input {
      font-size: 16px;
      padding: 4px 8px;
    }
    &:nth-last-child(2) {
      margin-bottom: 40px;
    }
  }
}
